* {

    margin: 0;
    padding: 0;

}

.container {

    max-width: 90%;
    margin: 0;
}


.container-fluid{
    max-width:100%;
    margin:0 auto;
}
.container{
    max-width:1200px;
    margin:0 auto;
}

.col-12{
    width:100%;
}
.col-6{
    width:50%;
}
.col-4{
    width:33.33333333%;
}
.col-3{
    width:25%;
}


@media screen and (max-width:800px){
    .col-12,
    .col-6,
    .col-4,
    .col-3{
        width:100%;
    }
}



/* color */
.red {

    color: #fb0060;
}

.grey {

    color:#999999;
}


.black {

    color:#000000;

}

.yellow {

    color: rgb(238, 216, 20);

}